/* le ponemos el estilo a las figuras paara ataque y defensa*/
div img{
    width: 12%;
}
div {
 font-size: 4em;}
div img:hover{
    width: 8%;
    motion: rotation 120grad;
}
/* le ponemos el estilo al body principal*/
.bodyp{
    background-image:url(img/fondo\ 1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
    

/* le ponemos el estilo al body donde se desarrolla el juego*/
.bodys{
    background-image:url(img/fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* le ponemos el estilo al titulo de la pagina principal*/
#titulo1{
    text-align: center;
    position: absolute;
    top: 80px;
    left: 20px;
    width: 2000px;
    font-size: 35px;
    color: #99eaf0;
    font-family:cursive;
}

/* le ponemos el estilo al boton de la pagina principal*/
#boton1{
    position: absolute;
    top: 800px;
    left: 800px;
    width: 150px;
    background-color: #e01818;
    font-size: 20px;

}

/* le ponemos el estilo al div que contiene la imagen del enemigo*/
#enemigo{
    position: absolute;
    top: 400px;
    left: 1090px;
    width: 350px;
}

/* le ponemos el estilo al div que contiene la imagen del jugador principal*/
#yo{
    position: absolute;
    top: 30px;
    left: 170px;
    width: 350px;
}

/* le ponemos el estilo al tamaño de la imagen del enemigo*/
#dartz{
    width: 200px;
    height: 200px;
}

/* le ponemos el estilo al tamaño de la imagen del jugador principal*/
#yugi{
    width: 2em;
}

/* le ponemos el estilo a la caja de texto que almacena el mensaje de ataque o defensa*/
#mensaje{
    position: absolute;
    top: 260px;
    left: 260px;
    width: 700px;
    margin: 20px;
    padding: 20px;
    border: 2px solid #2ec442;
    background-color: rgb(203, 228, 61);
    font-size: 19px;
}

/* le ponemos el estilo al boton que puede reiniciar el juego */
#boton4{
    position: absolute;
    top: 600px;
    left: 600px;
    width: 150px;
    font-size: 15px;
}

/* le ponemos el estilo a la caja de texto que almacena el mensaje del perdedor*/
#perdedor{
    position: absolute;
    top: 260px;
    left: 160px;
    width: 1000px;
    margin: 20px;
    padding: 20px;
    border: 2px solid #2ec442;
    background-color: rgb(236, 234, 102);
    font-size: 30px;
}

/* le ponemos el estilo a la caja de texto que almacena el mensaje del ganador*/
#ganador{
    position: absolute;
    top: 260px;
    left: 160px;
    width: 1000px;
    margin: 20px;
    padding: 20px;
    border: 2px solid #2ec442;
    background-color: rgb(236, 234, 102);
    font-size: 30px;
}

/* desde esta linea hasta la 142 le damos estilo a las barras de salud de los personajes para que se reprersente se resta en pantalla*/
.bar{
    background-color: #0e2397;
    padding: 10px;
}

.bar-container{
    width: 65%;
    height: 20px;
    border: 1px solid #11e9f0;
    overflow: hidden;
}

.bar{
    background-color: rgb(16, 161, 11);
    height: 20px;
    transition: width 0.3s ease;
}

.bar.red{
    background-color: red;
}

/*en estos ultimos le damos estilos a la iomagen de yugi oh de la pagina principal*/
#letrero{
    position: absolute;
    top: 250px;
    left: 50px;
    width: 10px;
    font-size: 45px;
}

#letrero1{
    width: 250px;
    height: 100px;
}

/* en estos estilos configuramos el item que nos indica el ataque del jugador*/
#ataquea{
    position: absolute;
    top: 400px;
    left: 200px;
    width: 150px;
    font-size: 50px;
    color: #d3fc64;
}

#ataqueb{
    width: 200px;
    height: 150px;
}

/* en estos estilos configuramos el item que nos indica la defensa del jugador*/
#defensaa{
    position: absolute;
    top: 400px;
    left: 200px;
    width: 150px;
    font-size: 50px;
    color: #d3fc64;
}

#defensab{
    width: 200px;
    height: 150px;
}

/* en estos estilos configuramos el item que nos indica la defensa del enemigo*/
#defensac{
    position: absolute;
    top: 40px;
    left: 1124px;
    width: 150px;
    font-size: 50px;
    color: #f33919;
}

#defensad{
    width: 175px;
    height: 175px;
}

/* en estos estilos configuramos el item que nos indica la ataque del enemigo*/
#ataquec{
    position: absolute;
    top: 40px;
    left: 1124px;
    width: 150px;
    font-size: 50px;
    color: #f33919;
}

#ataqued{
    width: 175px;
    height: 175px;
}

/* en estos estilos configuramos el item que nos indica quien creo el juego en la pagina principal*/
#create{
    position: absolute;
    top: 700px;
    left: 100px;
    width: 350px;
    font-size: 30px;
    color: #bccf11;
    border-color: #161927;
}

#jugador1{
    width: 1100px;
    height: 800px;
    font-size: 35px;
}

#jugador2{
    width: 1100px;
    height: 800px;
    font-size: 35px;
}

/* en estos estilos configuramos el item que nos indica el numero de la ficha*/
#ficha{
    position: absolute;
    top: 750px;
    left: 100px;
    width: 350px;
    font-size: 30px;
    color: #bccf11;
    border-color: #161927;
    border-radius: 10px;
}

/* en estos estilos configuramos el porcentaje que se muestra en las barras de vida de los jugadores*/
#vidaenemigo{
    left: 10px;
    font-weight: 600;
    font-size: 16px;
    color: rgb(14, 29, 245);
    padding-top: 1px;
    font-family: cursive;
}

#vidayo{
    left: 10px;
    font-weight: 600;
    font-size: 16px;
    color: rgb(37, 40, 221);
    padding-top: 1px;
    font-family: cursive; 
}